
GOOGLE_API_KEY=
EMBEDDING_MODEL=
LLM_MODEL=
VECTOR_TABLE_NAME=
MONGODB_URI=
SCHEMA=
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=
READER_CONNECTION_STRING=
WRITER_CONNECTION_STRING=
ALLOWED_DIR=